body{
    font-family: 'VT323', monospace;
}

#imgmario {
    position: absolute;
    bottom: 10%;

    animation: myMarioSlide;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes myMarioSlide{
    from{margin-bottom: 1%}
    to{margin-bottom: 42.5%;}
} 

#wave{
    position: absolute;
    left: 6.5%;
    bottom: 90%;
    font-size: 20px;

    animation: sciTextwave;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#speed{
    position: absolute;
    left: 6.5%;
    bottom: 86%;
    font-size: 20px;

    animation: speed;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes sciTextwave {
    100%{ opacity: 1;}
    0%{ opacity: 0;}
}

#notessci{
    position: absolute;
    left: 3.5%;
    bottom: 1%;
    font-size: 30px;

    animation: sciNotesSlide;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes sciNotesSlide {
    from{margin-bottom: 1%}
    to{margin-bottom: 48%;}
}

@keyframes sciTextwave {
    100%{ opacity: 1;}
    0%{ opacity: 0;}
}

@keyframes speed {
    100%{ opacity: 1;}
    0%{ opacity: 0;}
}

#wavetext{
    position: absolute;
    text-align: center;
    width: 850px;
    right: 0%;
    bottom: 81%;
    font-size: 20px;

    animation: waveSlide;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes waveSlide {
    from{margin-right: -50%}
    to{margin-right: 20%;}
}
